{% extends 'base.html.twig' %}

{% block body %}
    <h2>Entrainement</h2>
    <table>
        <tr>
            <th>Lundi</th>
            <th>Mardi</th>
            <th>Mercredi</th>
            <th>Jeudi</th>
            <th>Vendredi</th>
            <th>Samedi</th>
            <th>Dimanche</th>
        </tr>
        <tr>
            <th>17h</th>
            <th>non</th>
            <th>15h</th>
            <th>non</th>
            <th>non</th>
            <th>15h</th>
            <th>non</th>
        </tr>  
        <tr>
            <th>Lundi</th>
            <th>Mardi</th>
            <th>Mercredi</th>
            <th>Jeudi</th>
            <th>Vendredi</th>
            <th>Samedi</th>
            <th>Dimanche</th>
        </tr>
    </table>
{% endblock %}