{% extends 'base.html.twig' %}

{% block body %}
    <h1>MODIFIER ADHERENT</h1>
    <h2>Adherent {{ adherent.id }}</h2>
    <p>Nom {{ adherent.nom }}</p>
    <p>Date {{ adherent.date|date('Y-m-d') }}</p>

{% endblock %}